@{
    Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Description)</h3>

@if (@Model.JoinEntities.Count == 0)
    {
    <p>No engineers are license for this machine!</p>
    }
    else
    {
    <h5>Engineers licensed for this machine:</h5>
    
    @foreach (EngineerMachine join in Model.JoinEntities)
        {
        <p>@join.Engineer.Name</p>
        @using (Html.BeginForm("DeleteJoin", "Machines"))
        {
            @Html.Hidden("joinId", @join.EngineerMachineId)
            <input type="submit" value="Delete" />
        }
        }
    
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add an engineer", "AddEngineer", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Edit machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete machine", "Delete", new { id = Model.MachineId })</p>