<div id="footer">
    <p>@Html.ActionLink("Home", "Index", "Home") |
    @Html.ActionLink("New Engineer", "Create", "Engineers") |
    @Html.ActionLink("New Machine", "Create", "Machines") |
    @Html.ActionLink("All Engineers", "Index", "Engineers") |
    @Html.ActionLink("All Machines", "Index", "Machines")</p>
</div>